/* You can add global styles to this file, and also import other style files */
/* Nesse arquivo ficam os 'estilos' Globais da aplicação. */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
    color: #ca0303;
}
.v-middle {
    vertical-align: middle;
}