body {
  background-color: #444;
  background-image: url(5c2241256029fcdcde6a915cb90aee79.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: blue;
  color: #fff;
  font-size: 1.8em; }

